@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Phudu:wght@300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --a: 0;
    --b: 40px;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
}

body {
    background-color: black;
    color: white;

}

.left {
    width: 32vw;
    padding: 10px;
}

.home {
    position: relative;
}

.home ul li {
    list-style: none;
    width: 23px;
    gap: 15px;
    padding: 14px;
    font-weight: 700;
    margin: 30px 0px 10px 0px;
}

/* .home span {
    

    color: #fffefe61;
    background: -webkit-gradient(linear, left top, right top, from(#e6e6e6), to(#1d1c1c), color-stop(0.8, #ffffff)) no-repeat;
    background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.8, #fff)) no-repeat;
    background-size: 110px 100%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: flick 2s infinite;
} */

.home span {
    position: absolute;
    font-size: 27px;
    left: 95px;
    top: 37px;
    font-weight: 400;
    font-family: "Phudu", serif;

    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
}

.home ul li a {
    text-decoration: none;
    color: white;
    white-space: nowrap;
    font-size: 20px;
}

.home ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.logo {
    justify-content: space-between;
    padding: 10px;
}



.logo img:nth-child(2) {
    display: none;
}

.big-heading {
    justify-content: space-between;
    color: #a6a6a6;
}

.grey {
    filter: invert(0.6);
}

.library {
    position: relative;
    min-height: 90vh;
}

.heading {
    gap: 10px;
    font-size: 1.2rem;

}

.heading img {
    width: 25px;
    transition: all 0.7s ease;
}

.heading p {
    transition: all 0.7s ease;
}

.heading:hover {
    color: white;

}

.heading img:hover {
    filter: invert(1);
}

.plusLogo img {
    width: 18px;
    transition: all 0.7s ease;

}

.plusLogo img:hover {
    filter: invert(1);
}

.plusLogo {
    transition: all 0.7s ease;
    width: 2rem;
    height: 2rem;
    padding: 2px;
    border-radius: 50%;
}

.plusLogo:hover {
    background-color: #303030;
}

.songsList {
    margin: 25px 0 100px 0;
    height: 400px;
    overflow: auto;

}

.songsList ul {
    padding: 0 14px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;

}

.songsList ul li {
    list-style: none;
    gap: 30px;
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 10px 2px;
    width: 94%;
    cursor: pointer;
    transition: all 0.5s ease-out;

}

.songsList ul li:hover {
    background-color: #292929;

}

.liClick {
    animation: liAnimate 3s linear 0.5s infinite alternate-reverse;
}

.songsList ul li img {
    padding: 0px 7px;
}

.songsList .info {
    display: flex;
    gap: 8px;
    align-items: center;

}

/* .songsList .playNow {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 800;
    width: 100px;
} */

.footer {
    flex-wrap: wrap;
    gap: 1vw 2vw;
    position: absolute;
    bottom: 0;
    margin-top: 12px;
}

.footer a {
    color: grey;
    text-decoration: none;
    font-size: 0.75rem;
}

.right {
    width: 75vw;
    margin: 16px 0;
    position: relative;
}

.header {
    justify-content: space-between;
    background-color: #1f1f1f;
    border-top-left-radius: 7px;
}

.header>* {
    padding: 10px;
}

.hamburger {
    display: none;
}

.buttons button:first-child {
    color: grey;
    font-size: 14px;
    background-color: #1f1f1f;
    border: none;
    padding: 10px;
    margin-right: 10px;
    font-weight: 600;

}

.buttons button:first-child:hover {
    color: white;
    font-size: 14.8px;

}

.buttons button:nth-child(2) {
    font-size: 16px;
    background-color: white;
    border: none;
    border-radius: 2rem;
    padding: 12px 23px;
    font-weight: 600;
}

.buttons button:nth-child(2):hover {
    background-color: rgb(233, 232, 232);
    font-weight: 700;
}

.spotifyPlaylists {
    padding: 16px;
}

.spotifyPlaylists h1 {
    font-size: 1.7rem;
    padding-bottom: 1rem;
    display: inline-block;
    margin: 30px 8px;
    text-decoration: underline;
}


.cardContainer {
    gap: 20px;
    flex-wrap: wrap;
    padding: 0px 20px;
    max-height: 65vh;
    overflow-y: auto;
}

.card {
    width: 180px;
    padding: 10px;
    border-radius: 5px;
    background-color: #1a1a1a;
    position: relative;
    transition: all 0.7s ease;
}

.card:hover {
    background-image: linear-gradient(to bottom, #1a1a1a, #333333);
    --a: 1;
    --b: 90px;
}

.card>* {
    padding-top: 10px;
}

.play {
    background-color: wheat;
    border-radius: 50%;
    width: 68px;
    height: 50px;
    padding-bottom: 9px;
    position: absolute;
    bottom: var(--b);
    right: 18px;
    transition: all 0.7s ease;
    opacity: var(--a);

}

.hovering {
    opacity: 1;
    bottom: 90px;
}

.play:hover {
    background-color: rgb(245, 228, 197);
    scale: 1.1;
}

.play img {
    width: 2px;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card p {
    color: grey;
}

.playBar {
    position: fixed;
    bottom: 30px;
    border-radius: 10px;
    right: 13.5px;
    /* background-color: #1ed760; */
    background-color: wheat;
    width: 65vw;
    padding: 15px;
    justify-content: space-between;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    height: 30px;
}

.songInfo {
    border-radius: 5px;
    animation: infoAnimate 2.5s linear infinite alternate-reverse;
}

.volume {
    padding: 7px;
    margin-right: 15px;
    border-radius: 50%;
    flex-direction: column;
    position: relative;
}

.volume:hover {
    background-color: white;
}

.seekBar {
    height: 3.5px;
    border: 2px solid black;
    background-color: beige;
    width: 98%;
    position: absolute;
    bottom: 1px;
    right: 7px;
    border-radius: 30px;
}

.circle {
    background-color: beige;
    width: 15px;
    height: 15px;
    position: relative;
    bottom: 6.5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 10.3);
    left: 0%;
    border-radius: 50%;
    transition: all 0.7s linear;

}

.songButtons {
    gap: 30px;
    padding-bottom: 6px;
}

.songButtons img {
    scale: 1.25;
}

.songTime {
    justify-content: space-between;
    gap: 25px;

}



.volSeekbarContainer {
    height: 120px;
    width: 35px;
    background-color: wheat;
    position: absolute;
    bottom: 44.5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
}

#volumeIp {
    width: 100px;
    transform: rotate(-90deg);
    transform-origin: center;
}



@keyframes liAnimate {
    from {
        background-color: #1b1b1b;
    }

    to {
        background-color: #7f7e7e;
    }
}

@keyframes infoAnimate {

    to {
        background-color: beige;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
        font-size: 1.25rem;
    }
}

@keyframes flick {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}
@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }